.exchange-container {
  padding: 1.25rem; 
  font-weight: 400;
  color: white;
}

.exchange-container h2 {
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.exchange-content {
  margin: 1.25rem;
  border-radius: 0.938rem;
  background-color: #1E222D;
  padding: 2rem; 
  display: flex;
  flex-direction: column; 
  gap: 2rem; 
  height: auto;
}

.exchange-multiselect {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  gap: 1.25rem;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 1rem !important;
}

.exchange-from-to {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 9rem;
}

.exchange-from-to label {
  font-size: 0.875rem; 
  color: #a6aec2;
  margin-bottom: 0.5rem; 
}

.exchange-from-to select {
  padding: 0.75rem;
  border-radius: 0.625rem; 
  border: none;
  background-color: #2A2E39;
  color: white;
  width: 100%;
  cursor: pointer;
}

.exchange-display {
  font-size: clamp(1.75rem, 6vw, 3.125rem); 
  display: flex;
  padding: 2.5rem;
  border-radius: 0.625rem;
  background-color: #2A2E39;
  justify-content: center;
  color: white;
  text-align: center;
  margin-bottom: 1rem !important;
}


.exchange-chart {
  display: block;
  position: relative;
  width: 100%;
  min-height: 28.125rem;
  background-color: #2A2E39;
  border-radius: 0.625rem;
  padding: 1.5rem;
  flex-shrink: 0;
  margin-bottom: 1rem !important;
}


.exchange-comparison {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem; 
  width: 100%;
}

.item-comparison {
  flex: 1 1 15.625rem;
  background-color: #2A2E39;
  padding: 1.5rem; 
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
}

.comparison-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem; 
  color: #a6aec2;
  margin-bottom: 1rem;
}

.comparison-header img {
  width: 1.25rem;
  height: 1.25rem;
}

.item-comparison span {
  font-size: 1.375rem; 
  color: white;
  margin-top: 0.5rem;
}

@media (max-width: 1024px) {
  .exchange-chart {
    min-height: 15rem; 
  }
  
  .exchange-content {
      padding: 1rem; 
    }
}