.exchange-container {
  padding: 20px;
  font-weight: 400;
  color: white;
}

.exchange-container h2 {
  font-weight: 600;
  font-size: 20px;
}
.exchange-multiselect {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.exchange-from-to {
 display: flex;
 flex-direction: column;
 padding-top: 15px;
}

.exchange-from-to label {
  font-size: 14px;
  color: #a6aec2;
  margin-bottom: 5px;
}

.exchange-from-to select {
  padding: 5px;
  border-radius: 10px;
  border: none;
  background-color: #2A2E39;
  width: 20vw;
}

.exchange-display {
  font-size: 50px;
  display: flex;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #2A2E39;
  justify-content: center;
}

.exchange-chart {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #2A2E39;
  position: relative;
  width: 100%;
  height: 550px; 
  overflow: hidden; 
  flex-shrink: 0; 
  display: block;
}

.exchange-chart-error {
  display: flex;
  justify-content: center;
  color: #c42929;
}

.exchange-comparison{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.item-comparison {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-top: 10px;
  background-color: #2A2E39;
  padding: 20px;
  border-radius: 10px;
  width: 20vw;
}

.item-comparison span {
  font-size: 20px;
  color: white;
  margin-top: 10px;
}

.comparison-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  color: #a6aec2;
  margin-bottom: 10px;
}

.comparison-header img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}