.app-content {
  display: flex;
  flex-direction: row; 
  background-color: #242b3a;
  min-height: 100vh;
}

@media (max-width: 1024px) {
  .app-content {
    flex-direction: column; 
  }
  
  .first-section, .second-section {
    width: 100% !important; 
  }
}

.first-section { width: 50vw; }
.second-section { 
  width: 50vw; 
  background-color: #191d27; 
}