.timezone-container {
  padding: 1.25rem;
}

.timezone-container h2 {
  font-weight: 600;
  font-size: 1.25rem; 
  color: white;
}

.timezone-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  padding-top: 1.25rem;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
}

.timezone-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.25rem;
  border-radius: 0.938rem; 
  color: white;
  min-width: 17.5rem; 
  flex: 1;
  max-width: 25rem; 
}

.timezone-item select {
  color: #000000;
  padding-bottom: 5px;
}


.first-timezone { background: linear-gradient(#3bbedf, #146cb4); }
.second-timezone { background: linear-gradient(#ff9966, #ff5e62); }

.timezone-clock {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 11.25rem; 
  height: 11.25rem;
  border-radius: 50%;
  border: 0.188rem solid white;
  margin: 0 auto;
}

.clock-pointer {
  position: absolute;
  background: white;
  width: 3px;
  border-radius: 3px;
  left: 50%;
  margin-left: -1px;
  bottom: 71%;
  transform-origin: bottom center;
}

.clock-pointer.hour {
  height: 30px;
  background-color: #8b8a8a;
}

.clock-pointer.minute {
  height: 45px;
}

.time-display {
  padding-top: 50px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}